.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.jumbotron {
  font-size: 0.8em;
  padding: 1em !important;
  height: 10%;
  background-color: #ccfff2 !important;
}

.modal-body * {
  margin:auto;
}

.task-timer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 500px
}

.task-body, .timer-container {
  width: 50%;
  margin: 2em;
  overflow: scroll;
}

.list-group-item h5 {
  font-size: 1em;
}

.list-group-item p {
  font-size: 0.9em;
}

.timer-container {
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 50% 50%;
  grid-template-areas: "setting1 clock"
                       "setting2 clock";
  background-color: #ffcccc;
}

.timer-container:first-child {
  grid-area: setting1;
}

.timer-container:nth-child(2) {
  grid-area: setting2;
}

.timer-container .setting-container {
  align-self: end;
  justify-self: end;
}

.timer-container .setting-container:nth-of-type(2) {
  align-self: start;
}

.timer {
  margin:auto;
  padding: 8px;
  background-color: #ffcccc;
  grid-area: clock;
}

.timer p {
  text-align: center;
}

.control-button {
  display: flex;
  justify-content: center;
}

.setting-container p {
  font-size: 1em;
}

.setting-container {
  margin-bottom: 1em;
}

.control-button button {
  border-radius: 10%;
  margin-left: 5px;
  background-color: #cce6ff;
}

.control-button button:active, .control-button button:hover {
  background-color: #80bfff;
}

.circular-button {
  border-radius: 30%;
  margin-right: 2px;
  margin-left: 2px;
  border: 1px solid rgb(255, 51, 0);
  font-weight: bold;
}

.circular-button:active, .circular-button:hover {
  background-color: #ffe6e6;
}

.target-container .circular-button {
  margin-left: 3px;
  margin-right: 3px;
}

.timerCountdown {
  font-size: 5em;
}

.target-container {
  display: flex;
  margin: auto;
}

.footer img {
  height: 10%;
  width: 10%;
  margin-top: 1em;
}

.footer p {
  font-size: 0.8em;
}
