.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pomo-intro {
  width: 80%;
}

.modal-body {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 34% 33% 33%;
  grid-template-areas: "setting1 timer"
                       "setting2 timer"
                       "setting3 timer"
}

.modal-body * {
  margin:auto;
}

.modal-body:first-child {
  grid-area: setting1;
}

.modal-body:nth-child(2) {
  grid-area: setting2;
}

.modal-body:nth-child(3) {
  grid-area: setting3;
}

.modal-body .timer {
  grid-area: timer;
  margin:auto;
  border-radius: 5px;
  border: 1px solid red;
  padding: 8px;
}

.timer p {
  text-align: center;
}

.timer .control-button {
  margin: auto;
}

.control-button {
  border-radius: 8%;
  margin-left: 5px;
}

.circular-button {
  border-radius: 50%;
  margin-right: 2px;
  margin-left: 2px;
  border: 1px solid rgb(255, 51, 0);
}

.target-container .circular-button {
  margin-left: 3px;
  margin-right: 3px;
}

.timerCountdown {
  font-size: 5em;
}

.footer img {
  height: 10%;
  width: 10%;
}
